body {
    text-align:center;
    padding-top:250px;
}

h1{
  font-weight: bold;  
}

input[type=submit] {
  background-color: #0000CD;
  color: #ffffff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}